body {
  background-image: url(images/achtergrond3.jpg);
  background-size: cover;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none; /*Zodat je geen lijnen bij de links hebt */
  color: black;
  text-align: center;
  display: block; /*Zodat je op het gedeelte om de letters ook kan klikken */
  padding: 1em;
  width: 10em;
  height: 3em;
  background: rgb(189, 189, 189);
}

nav a:hover { /*dit is pseudo class, hover, zodat als je met je muis eroverheen gaat dat dat stukje (a) een andere kleur krijgt. */
  background-color: rgb(143, 143, 143);
  color: white;
}

nav a.actief {
  background-color: rgb(78, 133, 150);
}

#index {
  position: absolute;
  left: 0;
  width: 170px;
  height: 100%;
  padding: 40px 20px 0 0;
  background-color: rgba(255, 192, 203, 0.4);
  font-size: 14pt;
  color: rgb(47, 255, 92);
}

#hoofdtekst {
  margin: 0px;
  margin-left: 190px;
  background-color: yellow;
  padding: 30px;
  border-radius: 30px;
}

#hoofdtekst p {
  background-color: red;
padding: 10px;
}