body {
  background-image: url(images/achtergrond3.jpg);
  background-size: cover;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 4em;
  background-color: rgb(189, 189, 189);
}

nav li {
  float: left;

}

nav li.rechts {
  float: right;
}

nav a {
  text-decoration: none; /*Zodat je geen lijnen bij de links hebt */
  color: black;
  text-align: center;
  display: block; /*Zodat je op het gedeelte om de letters ook kan klikken */
  padding: 1em;
  width: 6em;
  height: 2em;
  background: rgb(189, 189, 189);
}

nav a:hover { /*dit is pseudo class, hover, zodat als je met je muis eroverheen gaat dat dat stukje (a) een andere kleur krijgt. */
  background-color: rgb(143, 143, 143);
  color: white;
}

nav a.actief {
  background-color: rgb(78, 133, 150);
}

#index {
  position: absolute;
  left: 0;
  width: 170px;
  height: 100%;
  padding: 40px 20px 0 0;
  background-color: rgba(255, 192, 203, 0.247);
  font-size: 14pt;
  color: rgb(47, 255, 92);
}

#index ul {
  list-style-type: none;
  padding: 0px;
  padding-left: 7px;
}

#index li {
  padding: 5px;
  padding-right: 0;
}

#index a {
  text-decoration: none;
  display: block;
  background-color: rgba(240, 229, 240, 0.233);
  border-left: 5px solid rgb(110, 177, 170);
  padding-left: 6px;
  padding: 3px 3px 3px 6px;
  color: black;
  border-top-right-radius: 7px;
}

#index a:hover {
    background-color: rgba(240, 229, 240, 0.534);
}

#hoofdtekst {
  margin: 0px;
  margin-left: 190px;
  margin-top: 30px;
  background-color: rgba(255, 255, 0, 0.582);
  padding: 30px;
}

#hoofdtekst p {
  background-color: red;
  padding: 10px;
}

#extrablok {
  background-color: greenyellow;
  margin: 10px;
  margin-top: 40px;
}

#inleiding {
  background-color: rgba(255, 255, 255, 0);
  margin-top: 130px;
  padding: 30px;
}

#inleiding p {
  background-color: rgb(145, 62, 173);
  margin: auto;
  width: 450px;
  font-size: 18pt;
  font-style: oblique;
  padding: 35px;
  border-radius: 30px;
}

#video {
  margin: auto;
  width: 853px;
  border: 3px solid rgba(64, 115, 134, 0.8);
  padding: 10px;
  margin-top: 30px;
  background-color: rgba(25, 86, 107, 0.8);
}

#contactformulier {
  background-color: rgba(68, 126, 128, 0.514);
  width: 400px;
  margin: auto;
  margin-top: 60px;
  font-size: 19pt;
}

#contactformulier input{
  font-size: 18pt;
  width: 100%;
  margin-bottom: 20px;
  padding: 4px;
  background-color: rgba(188, 208, 209, 0.89);
}

#contactformulier input:invalid {
background-color: rgba(231, 41, 41, 0.356);
}

#contactformulier input:focus-within {
  background-color: white;
}

#knop {
  background-color: rgba(110, 145, 110, 0.897);
}